channel-artifacts/*.tx
artifacts/channel/*.tx
artifacts/channel/*.block

channel-artifacts/*.block
artifacts/channel/crypto-config/**
*.tar.gz
**/*.pem
**/*.crt
log.txt
api-2.0/config/*.json
artifacts/channel/create-certificate-with-ca/fabric-ca/**/**
!artifacts/channel/create-certificate-with-ca/fabric-ca/**/*.yaml