<!DOCTYPE html>
<html>
<body>
<script src="/dist/bundle.js" type="text/javascript"></script>
<h1>Generate Key Pair and CSR</h1>
<button id="button" class="btn btn-primary btn-lg" onclick="generateCryptoMaterial()">Generate key pair and CSR</button>
<p id="pk"></p>
<p id="csr"></p>
</body>
</html>





