<!-- Login Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include("partials/head") %>

<!-- Register Section -->
  <body>
    <section id="login">

      <div class="container-fluid">
        <div class="register-form card shadow">

          <form action="/login" method="post">
            <div class="row">

              <div class="data-col col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <h1 class="login-header">Sign In</h1>

                  <div class="login-data">
                    <i class="fas fa-user fa-lg"></i>
                    <div class="form-group">
                      <input type="text" name="id" id="id" class="form-control" required />
                      <label class="form-label" for="id">User ID</label>
                    </div>
                  </div>

                  <div class="login-data">
                    <i class="fas fa-lock fa-lg"></i>
                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control" required />
                      <label class="form-label" for="password">User password</label>
                    </div>
                  </div>

                  <div class="row login-footer">

                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" name="remember" type="checkbox" value="" id="remember" checked />
                        <label class="form-check-label" for="remember"> Remember me </label>
                      </div>
                    </div>

                    <div class="col">
                      <a href="#!">Forgot password?</a>
                    </div>
                  </div>

                  <div class="login-button">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                  </div>

                  <p class="mb-5 pb-lg-2">Don't have an account? <a href="/register">Register here</a></p>

              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2 carbon-logo">
                <img src="../images/carbon21-logo.png"class="img-fluid" alt="Carbon21 logo">
              </div>


            </div>
          </form>

        </div>
      </div>

    </body>
