<!-- Home Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include("partials/head") %>
  <script src="/scripts/logs.js"></script>

  <body id ="top" onload="getLatestIPFSBlock(); getBlockchainTail()">
    <!-- Intro Section -->

    <section id="intro">

      <!-- Navbar -->

      <%- include("partials/navbar") %>

    <!-- Features section -->

    <section id="features">

      <div class="container-fluid mt-5">

        <h1 class="features-header">Logs Transparentes</h1>

        <div class="row feature">
          <div class="col-md-6 feature-img-container">
            <h3>Último bloco no IPFS</h3>
            <spam class="description">Todo dia à 00:00, a cauda da blockchain desse horário é inserida no IPFS</spam>
          </div>
          <div class="col-md-6 feature-text-container">
            <h3>Cauda da blockchain</h3>
            <spam class="description">O último bloco da blockchain no presente momento</spam>
          </div>
        </div>

        <div class="row feature">

          <div class="col-md-6 order-2 order-md-1 feature-text-container d-block">
            <!-- COMEÇO -->
            <div class="mt-3">
              <span><strong>Número do bloco: </strong> </span>
              <span id="ipfsBlockNumber"></span><br>
              <span><strong>Hash do bloco: </strong> </span>
              <span id="ipfsHash"></span><br>
              <span ><strong>Hash do bloco anterior: </strong> </span>
              <span id="ipfsPreviousHash"></span><br>
              <span><strong>Timestamp: </strong> </span>
              <span id="ipfsTimestamp"></span><br>
              <details><summary><strong>JSON</strong></summary><pre><code class="content" id="ipfsJson"></code></pre></details>
            </div>
            <!-- FIM -->
          </div>


          <div class="col-md-6 order-1 order-md-2 feature-img-container d-block">
            <!-- COMEÇO -->
            <div class="mt-3">
              <span><strong>Número do bloco: </strong> </span>
              <span id="tailBlockNumber"></span><br>
              <span><strong>Hash do bloco: </strong> </span>
              <span id="tailHash"></span><br>
              <span ><strong>Hash do bloco anterior: </strong> </span>
              <span id="tailPreviousHash"></span><br>
              <span><strong>Timestamp: </strong> </span>
              <span id="tailTimestamp"></span><br>
              <details><summary><strong>JSON</strong></summary><pre><code class="content" id="tailJson"></code></pre></details>
            </div>
            <!-- FIM -->

          </div>

        </div>

      </div>
    </section>

    <img id="loader" class="loading-icon" src="../images/loader.gif" style="margin: auto; width:20%" />

  </body>
</html>
