<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include("partials/head") %>

  <body id ="mint">

    <!-- Navbar -->

    <%- include("partials/navbar") %>

    <!-- Mint -->

    <div class="container-fluid">
      <div class="mint-card card shadow">
        <div class="header-container">
          <h1 class="mint-header"> Mint</h1>
        </div>
        <hr>
        <form action="/mint" method="post">
          <div class="mb-3">
            <label for="clientId" class="form-label">Client Id de destino</label>
            <input type="text" class="form-control" id="clientId" name="clientId">
          </div>
          <div class="mb-3">
            <label for="qty" class="form-label">Quantidade</label>
            <input type="text" class="form-control" id="qty" name="qty">
          </div>
          <div class="mb-3">
            <label for="token" class="form-label">Insira seu Token</label>
            <input type="text" class="form-control" id="token" name="token">
          </div>
          <div class="mint-button-container">
            <button type="submit" class="btn btn-primary">Mint</button>
          </div>

        </form>


      </div>

    </div>

  </body>

</html>
