<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include("partials/head") %>

<body>

    <!-- Navbar -->

    <%- include("partials/navbar") %>

    <section id="transfer" >

      <h1 class="transfer-header">Transferência</h1>

      <div class="container-fuid transfer-container">
  
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="justify-content-between p-md-1">
              <form action="" method="POST">

                <div class="flex-fill">
                  <div class="transfer-data">
                      <i class="fas fa-user fa-lg"></i>
                      <input type="text" name="usernameSource" id="usernameSource" class="form-control" required/>
                  </div>
                  <label class="form-label" for="usernameSource">Insira o username de origem</label>
                </div>

               <hr>

                <div class="flex-fill">
                    <div class="transfer-data">
                        <i class="fas fa-user fa-lg"></i>
                        <input type="text" name="usernameDest" id="usernameDest" class="form-control" required/>
                    </div>
                    <label class="form-label" for="usernameDest">Insira o username de destino</label>
                </div>

                <hr>

                <div class="flex-fill">
                    <div class="transfer-data">
                        <i class="fas fa-coins fa-lg"></i>
                        <input type="text" name="tokenId" id="tokenId" class="form-control" required/>
                    </div>
                    <label class="form-label" for="tokenId">Insira o token Id</label>
                </div>

                <hr>

                <div class="flex-fill">
                    <div class="transfer-data">
                        <i class="fas fa-coins fa-lg"></i>
                        <input type="text" name="qty" id="qty" class="form-control" required/>
                    </div>
                    <label class="form-label" for="qty">Insira a quantidade a ser transferida</label>
                </div>

                <hr>

                <div class="flex-fill">
                    <div class="transfer-data">
                        <i class="fas fa-key fa-lg"></i>
                        <input type="text" name="token" id="token" class="form-control" required/>
                    </div>
                    <label class="form-label" for="token">Insira seu token</label>
                </div>

                <div class="transfer-button">
                    <button type="submit" class="btn btn-primary btn-md">Transferir</button>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>

    </section>

</body>

</html>
