<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head") %>

  <script src="/scripts/bundles/transfer-bundle.js"></script>
  <body>
    <!-- Navbar -->

    <%- include("partials/navbar") %>

    <section id="transfer">
      
        <h1 class="transfer-header">Transferência</h1>

        <div class="container-fuid transfer-container">
        
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="justify-content-between p-md-1">
              
              <form action="" method="POST" class="validated-form" onsubmit="transfer()">

                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-user fa-lg"></i>
                    <input type="text" name="usernameDest" id="usernameDest" class="form-control" required/>
                  </div>
                  <label class="form-label" for="usernameDest">Insira o username de destino</label>
                </div>

                <hr />

                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-coins fa-lg"></i>
                    <input type="text" name="tokenId" id="tokenId" value="$ylvas" class="form-control" required />
                  </div>
                  <!-- NOTE: TokenId é para tranferir nfts? E para fts é fixo em "$ylvas"? -->
                  <label class="form-label" for="tokenId">Insira o token Id (*altere caso NFT)</label>
                </div>

                <hr />

                <div class="flex-fill">
                  <div class="transfer-data">
                    <i class="fas fa-coins fa-lg"></i>
                    <input type="text" name="qty" id="qty" class="form-control" required />
                  </div>
                  <label class="form-label" for="qty">Insira a quantidade a ser transferida</label>
                </div>
                <br>
                <img id="loader" class="loading-icon" src="../images/loader.gif" style="margin: auto;"/>
                <div hidden id="signing-files" style="text-align: center;">
                    <p><strong>Faça o upload da sua chave privada</strong></p>
                    <input type="file" id="private-key" name="filename" style="margin-left: 50px;"><br><br>
                    <p><strong>Faça o upload do seu certificado</strong></p>
                    <input type="file" id="certificate" name="filename" style="margin-left: 50px;"><br><br>
                </div>
                <div class="transfer-button">
                    <button id="submitButton" type="submit" class="btn btn-primary btn-md">Transferir</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>

</html>
