      <!-- Navbar -->

      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="carbon21-logo" src="/images/carbon21-logo.png" alt="Carbon21 Logo">
            Carbon21
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">

            <% if(title==="Home"){ %>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#top">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">Funcionalidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#reforestation">Reflorestamento</a>
              </li>
            <% } %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Minha Conta
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/wallet">Carteira</a></li>
                  <li><a class="dropdown-item" href="/collection">Coleção</a></li>
                  <li><a class="dropdown-item" href="/config">Configurações</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Carbon
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/mint">Mint</a></li>
                  <li><a class="dropdown-item" href="/transfer">Transfer</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/auth/login"><button type="button" class="btn btn-outline-success btn-sm">Sign In</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/signup"><button type="button" class="btn btn-outline-success btn-sm">Sign Up</button></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>