<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="carbon21-logo" src="/images/carbon21-logo.webp" alt="Carbon21 Logo" />
      Carbon21
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <% if(title==="Home"){ %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#top">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Funcionalidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reforestation">Reflorestamento</a>
        </li>
        <% } %>
        <li class="nav-item dropdown" id='userDropdown' hidden="true">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Minha Conta </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/wallet">Carteira</a></li>
            <li><a class="dropdown-item" href="/collection">Coleção</a></li>
            <li><a class="dropdown-item" href="/transfer">Transferência</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" id="adminDropdown" hidden="true">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Aréa do Administrador </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/ft/mint">Emissão de FT</a></li>
            <li><a class="dropdown-item" href="/nft/mint">Emissão de NFT</a></li>
            <li><a class="dropdown-item" href="/ft/mintFromNFT">Emissão Periodica</a></li>
          </ul>
        </li>
        <li class="nav-item" id='loginButton' >
          <a class="nav-link" href="/prelogin" ><button type="button" class="btn btn-outline-success btn-sm">Entrar</button></a>
        </li>
        <li class="nav-item" id='signupButton'>
          <a class="nav-link" href="/presignup"><button type="button" class="btn btn-outline-success btn-sm">Registrar</button></a>
        </li>
        <p class="mt-2 ms-3 me-1 username" hidden="true"></p>
        <li class="nav-item userInterface" id="logoutButton" hidden="true">
          <a class="nav-link"  onclick="logout()"><button class="btn btn-outline-success btn-sm">Sair</button></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="flash" class="flash"><%- include("../partials/flash") %></div>
</nav>

<script src="/scripts/bundles/auth-bundle.js"></script>

<!-- Display admin functionalities if user is admin-->
<script>

  const userDropdown = document.querySelector('#userDropdown');
  
  if(localStorage.token){
    userDropdown.hidden = false;
    const userEmail = JSON.parse(atob(localStorage.token.split(".")[1])).username.split('@')[0];
    const username = document.querySelector('.username');
    const logoutButton= document.querySelector('#logoutButton');
    const signupButton= document.querySelector('#signupButton');
    const loginButton= document.querySelector('#loginButton');
    username.hidden = false;
    logoutButton.hidden = false;
    loginButton.hidden = true;
    signupButton.hidden = true;
    username.textContent = userEmail;
    
    
  }

  //get role from jwt
  const role = JSON.parse(atob(localStorage.token.split(".")[1])).role;

  //TODO isso deveria ser feito usando ejs!
  //show admin functionalities
  if (role === "admin") {
    if (typeof adminDropdown !== "undefined") adminDropdown.hidden = false;
  }
</script>
