
body{
  font-family: 'Poppins', sans-serif;
}

i{
  margin:0 20px 35px 20px;
}


/* Navbar */

.navbar{
  padding: 5px 20px ;
  background-color: #fff;
}

nav .navbar-nav li a:hover{
  color: #00C897;
}

.navbar-brand{

  font-weight: 500;
  font-size: 2rem;
}

.navbar-brand .carbon21-logo{
  height: 70px;
  border-radius: 30%;
  margin: 0 30px 0 20px;
}

.nav-item{
  font-weight: 300;
  margin: 0 4px;
}


/* Register Section */

#register{
  background-color: #ADCF9F;
  padding: 120px 80px 80px 80px;
  min-height: 100vh;
}

.register-form{
  border-radius:30px;
  padding-left: 40px;
  padding-right: 40px;
}

.row{
  justify-content: center;
}

.sign-up-header{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}



.register-data{
  display: flex;
  align-items:center;
  margin-bottom: 4%;

}

.form-check{
  display: flex;
  justify-content: center;
}

.register-button{
  display: flex;
  justify-content:center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carbon-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-container{
  text-align: center;
}

.post-msg{
  color: blue;
}
